* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', Arial, sans-serif;
}

/* ===== Body Styling ===== */
body {
  text-align: center;
  background: linear-gradient(120deg, #c4dfff, #ffffff);
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  padding-top: 50px;
}

h1 {
  font-size: 40px;
  font-weight: 700;
  color: #222;
  text-transform: capitalize;
  margin-bottom: 30px;
}


button {
  width: 150px;
  background: white;
  border: 2px solid #007bff;
  padding: 12px 0;
  margin: 12px 0;
  font-size: 20px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s ease;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.09);
}
button:hover {
  background: #007bff;
  color: white;
  transform: scale(1.1);
}

